body {
    background-color: #FFE6DF;
}
input {
    margin: 5px;
}
table {
    border-collapse: collapse;
    width: 25%;
    margin: 10px;
}
td, th {
    border: none;
    text-align: left;
    padding: 5px;
}