body {
    font-family: arial, sans-serif;
}

fieldset {
    background-color: #eeeeee;
}

legend {
    background-color: gray;
    color: white;
    padding: 0 30px;
}

input {
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    width: 25%;
    margin-top: 10px;
}

td, th {
    border: none;
    text-align: left;
    padding: 5px;
}