{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf_token" content="{{ csrf_token }}" charset="UTF-8">
    <title>Image Repository</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
    </ul>
{% endif %}

<table>
    <tr>
        <td>
            <form action="{% url 'image_repository:home' user_name %}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend><h3>Upload</h3></legend>
                    {% csrf_token %}
                    <table>
                        {{ image_upload_form.as_table }}
                    </table>
                    <input name="action" type="submit" value="Upload">
                </fieldset>
            </form>
        </td>
        <td>
            <form action="{% url 'image_repository:home' user_name %}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend><h3>Search</h3></legend>
                    {% csrf_token %}
                    <table>
                        {{ image_search_form.as_table }}
                    </table>
                    <input name="action" type="submit" value="Search">
                </fieldset>
            </form>
        </td>
    </tr>
</table>




{% if list_of_images %}
    <table>
        <tr>
            <th> Image</th>
            <th> Name</th>
            <th> height</th>
            <th> Width</th>
            <th> Color</th>
            <th> Permission</th>
        </tr>
        {% for image in list_of_images %}
            <tr>
                <td>
                    <img src='{{ MEDIA_URL }}{{ image.thumbnail }}' alt="{{ image.name }}"/>
                </td>
                <td>{{ image.name }}</td>
                <td>{{ image.height }}px</td>
                <td>{{ image.width }}px</td>
                <td>{{ image.color }}</td>
                <td>{{ image.permission }}</td>
                <td>
                    <form action="{% url 'image_repository:view_image' user_name image.image_hash image.name %}"
                          method="post">
                        {% csrf_token %}
                        <input type="submit" name="action" value="View">
                    </form>
                    <form action="{% url 'image_repository:home' user_name image.image_hash %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="action" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No items are available.</p>
{% endif %}

<form action="{% url 'image_repository:logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" name="action" value="logout">
</form>


</body>
</html>
