{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf_token" content="{{ csrf_token }}" charset="UTF-8">
    <title>Image Repository</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
    </ul>
{% endif %}


<form action="{% url 'image_repository:login' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Log In</h1></legend>
        <table>
            {{ login_form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </fieldset>
</form>

<p><a href="{% url 'image_repository:signup' %}">Sign Up</a></p>

</body>
</html>