{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf_token" content="{{ csrf_token }}" charset="UTF-8">
    <title>Image Repository</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

<h2><u>Sign Up</u></h2>
<form action="{% url 'image_repository:signup' %}" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>

</body>
</html>